<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.moa.global.account.mapper.AccountMapper">
    <update id="updateMemberIdByAccountNumber">
        UPDATE ACCOUNT
        SET member_id = #{memberId}
        WHERE account_number = #{accountNumber}
    </update>
    <select id="existsByAccountNumberAndAccountPassword" resultType="java.lang.Boolean">
        SELECT EXISTS (SELECT 1
                       FROM ACCOUNT
                       WHERE account_number = #{accountNumber}
                         AND account_password = #{accountPassword})
    </select>
    <select id="existsByNameAndAccountNumberAndAccountPassword" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1
                      FROM ACCOUNT
                      WHERE name = #{name}
                        AND account_number = #{accountNumber}
                        AND account_password = #{accountPassword})
    </select>
    <select id="searchAccountByMemberId" resultType="org.moa.global.account.entity.Account">
        SELECT *
        FROM ACCOUNT
        WHERE member_id = #{memberId}
    </select>
    <select id="searchAccountByMemberIdForUpdate" resultType="org.moa.global.account.entity.Account">
        SELECT
            account_id,
            member_id,
            name,
            account_number,
            account_password,
            bank_name,
            balance,
            is_active,
            created_at,
            updated_at
        FROM ACCOUNT
        WHERE member_id = #{memberId}
        FOR UPDATE
    </select>
    <update id="transactionBalance" >
        UPDATE ACCOUNT
        SET balance = CASE
                          WHEN member_id = #{receiverId} THEN balance + #{amount}
                          WHEN member_id = #{senderId} THEN balance - #{amount}
                          ELSE balance
            END
        WHERE member_id IN (#{receiverId}, #{senderId})
    </update>
</mapper>
