<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.moa.global.account.mapper.AccountMapper">

    <resultMap id="AccountResultMap" type="org.moa.global.account.entity.Account">
        <id     property="accountId"       column="account_id"/>
        <result property="memberId"        column="member_id"/>
        <result property="accountNumber"   column="account_number"/>
        <result property="accountPassword" column="account_password"/>
        <result property="bank"            column="bank_name"/>
        <result property="balance"         column="balance"/>
        <result property="isActive"        column="is_active"/>
        <result property="createdAt"       column="created_at"/>
        <result property="updatedAt"       column="updated_at"/>
    </resultMap>

    <update id="updateMemberIdByAccountNumber">
        UPDATE ACCOUNT
        SET member_id = #{memberId}
        WHERE account_number = #{accountNumber}
    </update>
    <select id="existsByAccountNumberAndAccountPassword" resultType="java.lang.Boolean">
        SELECT EXISTS (SELECT 1
                       FROM ACCOUNT
                       WHERE account_number = #{accountNumber}
                         AND account_password = #{accountPassword})
    </select>
    <select id="existsByNameAndAccountNumberAndAccountPassword" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1
                      FROM ACCOUNT
                      WHERE name = #{name}
                        AND account_number = #{accountNumber}
                        AND account_password = #{accountPassword})
    </select>
    <select id="searchAccountByMemberId" resultMap="AccountResultMap">
        SELECT * FROM ACCOUNT WHERE member_id = #{memberId}
    </select>
    <update id="transactionBalance" >
        -- 1. 수신자(receiverId)의 계좌 잔액을 amount만큼 증가시킵니다.
        UPDATE ACCOUNT
        SET balance = balance + #{amount}
        WHERE member_id = #{receiverId};

        -- 2. 송신자(senderId)의 계좌 잔액을 amount만큼 감소시킵니다.
        UPDATE ACCOUNT
        SET balance = balance - #{amount}
        WHERE member_id = #{senderId};
    </update>
    <update id="withdraw">
        UPDATE ACCOUNT
        SET balance = balance - #{amount}
        WHERE account_number = #{accountNumber};
    </update>
</mapper>
