<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.moa.global.account.mapper.PaymentRecordMapper">
    <insert id="insert">
        INSERT INTO payment_record(
                                   account_id,
                                   member_id,
                                   payment_name,
                                   payment_price,
                                   payment_date,
                                   payment_location
        ) VALUES(
                 #{accountId},
                 #{memberId},
                 #{paymentName},
                 #{paymentPrice},
                 #{paymentDate},
                 #{paymentLocation}
                        )
    </insert>
    <update id="updateTripDayId">
        UPDATE payment_record
        SET trip_day_id = #{tripDayId}
        WHERE record_id = #{recordId}
    </update>
    <select id="searchByPaymentDates" resultType="org.moa.global.account.entity.PaymentRecord">
        SELECT *
        FROM payment_record
        WHERE member_id = #{memberId}
        AND DATE(payment_date) IN
        <foreach collection="paymentDates" item="date" open="(" separator="," close=")">
            DATE(#{date})
        </foreach>
    </select>
    <select id="searchByIdsAndMemberId" resultType="org.moa.global.account.entity.PaymentRecord">
        SELECT *
        FROM payment_record
        WHERE member_id = #{memberId}
        AND record_id IN
        <foreach collection="recordIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>