<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.moa.reservation.accommodation.mapper.AccomResMapper">
    <update id="updateAccomRes">
        UPDATE ACCOM_RES
        SET
            reservation_id = #{reservationId},
            trip_day_id = #{tripDayId},
            guests = #{guests},
            status = 'CONFIRMED'
        WHERE
            accom_res_id = #{accomResId}
            AND status = 'AVAILABLE'
            AND checkin_day &gt;= #{checkinDay}
            AND checkin_day &lt; #{checkoutDay}
        LIMIT #{nights}
    </update>
    <select id="searchHotelNameByAccomResId" resultType="string">
        SELECT ac.hotel_name
        FROM ACCOMMODATION_INFO ac
                 JOIN ACCOM_RES ar ON ac.accom_id = ar.accom_id
        WHERE ar.accom_res_id = #{accomResId}
    </select>
    <select id="searchHotelPriceById" resultType="decimal">
        SELECT price
        FROM ACCOM_RES
        WHERE accom_res_id = #{accomResId}
    </select>
</mapper>
