<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.moa.trip.mapper.SettlementMapper">
    <insert id="insert" parameterType="org.moa.trip.entity.SettlementNotes" useGeneratedKeys="true" keyProperty="settlementId">
        INSERT INTO SETTLEMENT_NOTES (expense_id,
                                      trip_id,
                                      member_id,
                                      share_amount,
                                      is_payed,
                                      created_at,
                                      updated_at
        )
        VALUES (#{expenseId},
                #{tripId},
                #{memberId},
                #{shareAmount},
                #{isPayed},
                #{createdAt},
                #{updatedAt}
               )
    </insert>
    <select id="searchByMemberIdAndTripId" resultType="org.moa.trip.entity.SettlementNotes">
        SELECT *
        FROM SETTLEMENT_NOTES
        WHERE member_id = #{memberId} AND trip_id = #{tripId}
    </select>
    <select id="searchByExpenseId" resultType="org.moa.trip.entity.SettlementNotes">
        SELECT *
        FROM SETTLEMENT_NOTES
        WHERE expense_id = #{expenseId}
    </select>
</mapper>
