<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.moa.reservation.mapper.ReservationMapper">
    <insert id="insertReservation" useGeneratedKeys="true" keyProperty="reservationId">
        INSERT INTO RESERVATION (trip_day_id, res_kind)
        VALUES (#{tripDayId}, #{resKind})
    </insert>
    <delete id="cancelReservationByReservationId">
        DELETE
        FROM RESERVATION
        WHERE reservation_id = #{reservationId}
    </delete>

    <select id="findMemberIdByReservationId" parameterType="long" resultType="long">
        SELECT t.member_id
        FROM reservation r
                 JOIN trip_day td ON r.trip_day_id = td.trip_day_id
                 JOIN trip t ON td.trip_id = t.trip_id
        WHERE r.reservation_id = #{reservationId}
    </select>

    <!-- 식당 예약 내역 QR -->
    <select id="findQrInfoByReservationId" resultType="org.moa.reservation.dto.QrRestaurantReservationDto">
        SELECT
            rr.reservation_id AS reservationId,
            rr.rest_id AS restId,
            td.day AS date,
            rts.res_time AS time,
            rr.res_num AS resNum,
            rr.status
        FROM REST_RES rr
            JOIN TRIP_DAY td ON rr.trip_day_id = td.trip_day_id
            JOIN REST_TIME_SLOT rts ON rr.rest_time_id = rts.rest_time_id
        WHERE rr.reservation_id = #{reservationId}
    </select>



</mapper>
