<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.moa.reservation.transport.mapper.TransportMapper">
    <select id="selectTransports" resultType="org.moa.reservation.transport.dto.TransportInfoResponse">
        SELECT
        transport_id    AS transportId,
        departure_name  AS departureName,
        train_no        AS trainNo
        FROM transport_info
        WHERE is_visible = TRUE
        <if test="departureName != null and departureName.trim() != ''">
            AND departure_name LIKE CONCAT('%', #{departureName}, '%')
        </if>
        <if test="destinationName != null and destinationName.trim() != ''">
            AND arrival_name   LIKE CONCAT('%', #{destinationName}, '%')
        </if>
        <if test="departureDateTime != null">
            AND departure_time = #{departureDateTime}
        </if>
        ORDER BY transport_id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
    <select id="countTransports" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM transport_info
        WHERE is_visible = TRUE
        <if test="departureName != null and departureName.trim() != ''">
            AND departure_name LIKE CONCAT('%', #{departureName}, '%')
        </if>
        <if test="destinationName != null and destinationName.trim() != ''">
            AND arrival_name   LIKE CONCAT('%', #{destinationName}, '%')
        </if>
        <if test="departureDateTime != null">
            AND departure_time = #{departureDateTime}
        </if>
    </select>
</mapper>
