<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.moa.global.test.mapper.UserMapper">
    <select id="findByName" parameterType="String" resultType="org.moa.global.test.domain.User">
        SELECT *
        FROM users
        where name = #{name}
    </select>

    <insert id="insertUser" parameterType="org.moa.global.test.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (name, age, phone)
        VALUES (#{name}, #{age}, #{phone})
    </insert>
</mapper>
