<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.moa.global.notification.mapper.NotificationMapper">
    <insert id="createNotification" parameterType="org.moa.global.notification.entity.Notification" useGeneratedKeys="true" keyProperty="notificationId">
        INSERT INTO notification(
                                 member_id,
                                 notification_type,
                                 trip_name,
                                 title,
                                 content,
                                 is_read,
                                 created_at
        ) VALUES(
                 #{memberId},
                 #{notificationType},
                 #{tripName},
                 #{title},
                 #{content},
                 #{isRead},
                 #{createdAt}
            )
    </insert>
</mapper>
