<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.moa.member.mapper.DriverLicenseMapper">


    <update id="updateMemberIdByIdCardNumber">
        UPDATE driver_license
        SET member_id = #{memberId}
        WHERE id_card_number = #{idCardNumber}
    </update>

    <select id="findDriverLicenseByMemberId" resultType="org.moa.member.dto.idcard.DriverLicenseRawData">
        SELECT
            m.name,
            dl.license_number AS licenseNumber,
            dl.id_card_number AS idCardNumber,
            dl.license_type AS licenseType,
            dl.issuing_agency AS issuingAgency,
            dl.image_url AS imageUrl,
            dl.issued_date AS issuedDate,
            dl.expiry_date AS expiryDate
        FROM
            driver_license dl
                INNER JOIN
            member m ON dl.member_id = m.member_id
        WHERE
            dl.member_id = #{memberId}
    </select>

</mapper>
