<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.moa.member.mapper.IdCardMapper">
    <update id="updateMemberIdByIdCardNumber">
        UPDATE ID_CARD
        SET member_id = #{memberId}
        WHERE id_card_number = #{idCardNumber}
    </update>


    <select id="existsByNameAndIdCardNumber" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1
                      FROM ID_CARD
                      WHERE name = #{name}
                        AND id_card_number = #{idCardNumber})
    </select>


    <select id="findByMemberId" resultType="org.moa.member.entity.IdCard">
        SELECT
            id_card_id,
            member_id,
            id_card_number,
            name,
            issued_date,
            address,
            image_url,
            created_at,
            updated_at
        FROM ID_CARD
        WHERE member_id = #{memberId}
    </select>

    <select id="findIdCardByMemberId" resultType="org.moa.member.dto.idcard.IdCardRawData">
        SELECT
            m.name,
            ic.address,
            ic.image_url AS imageUrl,
            ic.id_card_number AS idCardNumber,
            ic.issued_date AS issuedDate
        FROM
            ID_CARD ic
                INNER JOIN
            MEMBER m ON ic.member_id = m.member_id
        WHERE
            ic.member_id = #{memberId}
    </select>


</mapper>
